/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */


body{
  font-family: sans-serif;
  font-size: 1em;
  color: black;
}

header a{
  color: white;
}

body li{
  list-style-type: none;
}

body a {
  text-decoration: none;
  color: black;
}

body a:hover {
  text-decoration: none;
  color: #B0EC61;
}

body.welcomepage{
    font-size: 1.25em;
}

body.welcomepage a{
  color: white;
}

input, textarea, select{
  margin-top: 10px;
  color : black;
  border-radius: 7px;
  width: 200px;
  height: 25px;
}

input:nth-of-type(2) {
  margin-right: 30px;
}

.user_panel input:nth-of-type(3), .joinform input:nth-of-type(8), .locationform input:nth-of-type(3) {
-moz-box-shadow:inset 0px 1px 0px 0px #dedbde;
  -webkit-box-shadow:inset 0px 1px 0px 0px #dedbde;
  box-shadow:inset 0px 1px 0px 0px #dedbde;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #b0ec61), color-stop(1, #95c452) );
  background:-moz-linear-gradient( center top, #b0ec61 5%, #95c452 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b0ec61', endColorstr='#95c452');
  background-color:#b0ec61;
  -webkit-border-top-left-radius:6px;
  -moz-border-radius-topleft:6px;
  border-top-left-radius:6px;
  -webkit-border-top-right-radius:6px;
  -moz-border-radius-topright:6px;
  border-top-right-radius:6px;
  -webkit-border-bottom-right-radius:6px;
  -moz-border-radius-bottomright:6px;
  border-bottom-right-radius:6px;
  -webkit-border-bottom-left-radius:6px;
  -moz-border-radius-bottomleft:6px;
  border-bottom-left-radius:6px;
  text-indent:0;
  border:1px solid #cccccc;
  display:inline-block;
  font-size:15px;
  font-weight:bold;
  font-style:normal;
  height:35px;
  line-height:30px;
  width:150px;
  text-decoration:none;
  text-align:center;
}

.joinform form{
  width: 500px;
  margin-left: 40px;
}

.dealtag{
  width: 105%;
  height: 80px;
  background-color: rgb(66,66,66);
  margin-left: -10px;
  position: fixed;
  top: 0px;
}

.dealtag h2{
  color: white;
  margin-left: 20px;
}

.dealtag a:nth-of-type(2) {
  font-size: 16pt;
  color: white;
  position: fixed;
  top: 25px;
  left: 150px;
}

.dealtag a:hover {
  color: #B0EC61;
}

.dealtag img{
  padding-top: 10px;
  padding-left: 30px;
}


.user_panel a{
  text-decoration: none;
  color: black;
  font-family: sans-serif;
}

.user_panel a:hover{
  color: #B0EC61;
}

.menu li {
  list-style-type: none;
  float: left;
  padding-right: 5px;
  padding-left: 5px;
  border-right: 1px solid white;
}

.menu li a{
  color: white;
}


.menu li a:hover{
  color: #B0EC61;
}

.menu{
  position: fixed;
  top: 10px;
  right: 200px;
  z-index:1;
}

.item_list a{ 
  text-align: left;
}

.item_list img:nth-of-type(2){
  width: 90%;
  border-radius: 10px;
}

.item_list img:nth-of-type(1){
  width: 60%;
  border-radius: 10px;
}

.dealsindex img:nth-of-type(1), .dealsshow img:nth-of-type(1){
  width: 80%;
  border-radius: 10px;
}

.item_list {
  margin-top: 100px;
  width: 300px;
  height: 300px;
  float: left;
  font-family: sans-serif;
  border-radius: 30px;
  padding: 10px;
  font-size: 1em;
}

.user_panel{
    font: Helvetica;
    position: fixed;
    top: 200px;
    left: 150px;
    width: 390px;
    float: left;
    height: 400px;
    text-align: center;
    background-color: rgba(255,255,255,.5);
    border-radius: 8px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}

.user_panel p{
  font-size: 14pt;
  padding: 40px 20px 20px 20px;
}

.form {
  margin-left: 10px;
  font-size: 1em;
  font-family: sans-serif;
  border-radius: 20px;
  width: 500px;
}

.form p{
  font-size: 14pt;
}

.form a{
  color: white;
}

body.edit{
  padding-top: 200px;
  padding-left: 100px;
}

body.usersshow input[type = "submit"] {
  width: 65px;
}

.usersshow{
  color: white;
}

.usersshow a{
  color: white;
}

.addlocations img{
  width: 50px;
  height: 50px;
}

.addlocations h3{
  padding: 10px;
  font-size: 18pt;
  background-color: rgb(66, 66, 66);
  border-radius: 30px;
  height: 80px;
  width: 450px;
  box-shadow: 0px 4px 2px #242424;

}

.editlocations li{
  border-radius: 20px;
  float: left;
  width: 200px;
  height: 150px;
  padding: 10px;
  font-size: 16pt;
  text-align: center;
}

.editlocations li a{
  color: white;
}

footer img{
  width: 100%;
}

.editlocations a:hover{
  color: #B0EC61;
}

.editlocations input {
  width: 50%;
}

.editlocations a{
  color: black;
  padding-top: 100px;
}

body.form, body.locationform{
  margin-top: 100px;
  color: white;
  font-size: 1.5em;
  padding: 5px;
}

body.locationform a {
  color: white;
}

.dealsindex .itemlist li{
  margin-top: 20px;
  width: 400px
}

.editbuttons li{
  float: left;
  background-color: rgba(255, 255, 255, 0);
  width: 50px;
  height: 40px;
  margin-top: 50px;
}




