<body class = "form" style= "background: url('https://farm8.staticflickr.com/7448/12624091685_19c3195222_o.png'); background-size: cover; background-repeat: no-repeat;" >

  <h2> Come on, GetHappy... </h2>
  <p>Please fill out your information </p>

<% unless @user.nil? || @user.id.nil? %>
  <div id="errors">
    <h3>Errors!</h3>
    <ul>
      <% @user.errors.messages.each do |field,error| %>
        <li><em><%= "#{field.capitalize} #{error.first}!" %></em></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= render "form" %>
</body>