/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body{
  font-family: sans-serif;
  font-size: 1em;
  color: black;
}

body li{
  list-style-type: none;
}

body a {
  text-decoration: none;
  color: black;
}

body a:hover {
  text-decoration: none;
  color: #B0EC61;
}

body.welcomepage{
     background: url('/assets/background.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-size: 1.25em;
}

body.welcomepage a{
  color: white;
}

input, textarea, select{
  margin-top: 10px;
  color : black;
  border-radius: 7px;
  width: 200px;
  height: 25px;
}


input:nth-of-type(2) {
  margin-right: 30px;
}

input:nth-of-type(3) {
-moz-box-shadow:inset 0px 1px 0px 0px #dedbde;
  -webkit-box-shadow:inset 0px 1px 0px 0px #dedbde;
  box-shadow:inset 0px 1px 0px 0px #dedbde;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #b0ec61), color-stop(1, #95c452) );
  background:-moz-linear-gradient( center top, #b0ec61 5%, #95c452 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b0ec61', endColorstr='#95c452');
  background-color:#b0ec61;
  -webkit-border-top-left-radius:6px;
  -moz-border-radius-topleft:6px;
  border-top-left-radius:6px;
  -webkit-border-top-right-radius:6px;
  -moz-border-radius-topright:6px;
  border-top-right-radius:6px;
  -webkit-border-bottom-right-radius:6px;
  -moz-border-radius-bottomright:6px;
  border-bottom-right-radius:6px;
  -webkit-border-bottom-left-radius:6px;
  -moz-border-radius-bottomleft:6px;
  border-bottom-left-radius:6px;
  text-indent:0;
  border:1px solid #cccccc;
  display:inline-block;
  font-size:15px;
  font-weight:bold;
  font-style:normal;
  height:35px;
  line-height:30px;
  width:100px;
  text-decoration:none;
  text-align:center;
}

input, textarea, select{
  margin-top: 10px;
  color : black;
  border-radius: 7px;
  width: 200px;
  height: 25px;
}

header{
  padding-top: 20px;
  position: fixed;
  width: 100%;
  top: 0;
  height: 115px;
}


.user_panel a{
  text-decoration: none;
  color: black;
  font-family: sans-serif;
}

.user_panel a:hover{
  color: #B0EC61;
}

.menu li {
  list-style-type: none;
  float: left;
  padding-right: 5px;
  padding-left: 5px;
  border-right: 1px solid black;
}

.menu{
  position: fixed;
  top: 10px;
  right: 200px;
}

.bar_list a{ 
  text-align: center;
}


.bar_list img{
  /*position: relative;
  margin: 0 auto;*/
  width: 100%;
  border-radius: 10px;
}

.bar_list {
  margin-top: 80px;
  width: 250px;
  height: 250px;
  float: left;
  font-family: sans-serif;
  border-radius: 30px;
  padding: 10px;
  font-size: 1em;
}

.user_panel{
    font: Helvetica;
    position: fixed;
    top: 200px;
    left: 150px;
    width: 390px;
    float: left;
    height: 400px;
    text-align: center;
    background-color: rgba(255,255,255,.5);
    border-radius: 8px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}

.user_panel p{
  font-size: 14pt;
  padding: 40px 20px 20px 20px;
}

.form {
  padding: 30px;
  font-size: 1em;
  line-height: 1.4;
  font-family: sans-serif;
  border-radius: 20px;
  width: 200px;
}

body.edit{
  padding-top: 200px;
  padding-left: 100px;
}

.addlocations{
  padding-left: 30px;
}

.addlocations img{
  width: 40px;
  height: 40px;
}

.editlocations{
  margin: 30px 30px 0px 30px;
  padding: 10px 0px 10px 10px;
  background-color: #B0EC61;
  border-radius: 20px;
}

.editlocations a:hover{
  color: white;
}

.editlocations input {
  width: 50px;
}

.editlocations span{
  background-color: grey;
}

body.form{
  margin-top: 100px;
}
