/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
    font-size: 2.5em;
    background: url('/assets/background.gif');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header{
  position: fixed;
  width: 100%;
  top: 0;
  background-color: white;
  height: 128px;
}


.user_panel a{
  text-decoration: none;
  color: black;
  font-family: sans-serif;
}

.user_panel a:hover{
  color: #B0EC61;
}


.user_panel{
    font: Helvetica;
    padding: 20px;
    width: 400px;
    float: left;
    height: 450px;
    text-align: center;
    background-color: rgba(255,255,255,.5);
    border-radius: 8px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    margin-bottom: 100px;
}

.form {
  padding: 30px;
  font-size: 1em;
  line-height: 1.4;
  font-family: sans-serif;
  border-radius: 20px;
  width: 200px;
}
